@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  font-family: 'Roboto', sans-serif;
   margin:0;
   padding: 0;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.left img{
  width:80px;
  height:40px;
}
nav{
  margin-left: 0px;
  font-size: 12px;
  padding-top: 14px;
}

.input{
   border: 0.5px solid grey;
  border-radius: 5px;
  background: #f7f8fd;
}



nav ul li{
  list-style: none;
  padding: 0 20px;
}
.mx-2{
  margin-left: 12px;
  margin-right: 12px;
}
.left{
  margin-right:350px;
}

.section1{
  background-color: rgb(232, 231, 229);
  margin: auto;
  height: 122vh;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.container{
 
  padding: 0 10vw;
 
}
.App-link {
  color: #61dafb;
}
.header{
  position: sticky;
   background-color: white;
  top:0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 66px;
  
}
.imgpic{
  width:80vw;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
